<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.tianli.resource-watch</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/tianli/Dev/tools/mactools/build/Resource Watch.app/Contents/MacOS/resource-watch</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/tianli/Library/Logs/resource-watch.err</string>
	<key>StandardOutPath</key>
	<string>/Users/tianli/Library/Logs/resource-watch.log</string>
	<key>ThrottleInterval</key>
	<integer>30</integer>
</dict>
</plist>
